.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    // @media screen and (max-width: 1200px) {
    //     flex-direction: column;
    // }

    .articleList {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 19px;
        max-height: 600px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        & :global(.MuiFormControl-root) {
            width: 300px;
            border-bottom: none;
        }

        & :global(.MuiInput-root) {
            border-bottom: 1px solid var(--text-primary-high-emphasis);
            color: var(--text-primary-high-emphasis);
        }

        & :global(.MuiInput-root) {
            border-bottom: 1px solid var(--text-primary-high-emphasis);
        }

        & :global(.MuiInput-root) {
            border-bottom: 1px solid var(--text-primary-high-emphasis);
        }

        & :global(.MuiInput-root)::after {
            border-bottom: none;
        }

        & :global(.MuiInputLabel-root){
            color: var(--text-primary-high-emphasis);
        }

        & :global(.MuiInputAdornment-root){
            color: var(--text-primary-high-emphasis);
        }

        .pagination {
            width: 100%;
            max-width: 470px;
            display: flex;
            justify-content: flex-end;
            margin-block-start: 10px;
            margin-block-end: 20px;
        }
    }

    .articleReader {
        width: 100%;
        margin-block-start: 53px;
    }
}