.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;

    .filterBox{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-inline-end: 200px;

        svg{
            color: var(--text-primary-high-emphasis);
        }
    }
    // @media screen and (max-width: 1200px) {
    //     flex-direction: column;
    // }

    .body{
        width: 100%;
        display: flex;

        .articleList {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 19px;
            max-height: 600px;
            overflow: scroll;
    
            &::-webkit-scrollbar {
                display: none;
            }
    
            & :global(.MuiFormControl-root) {
                width: 300px;
                border-bottom: none;
            }
    
            & :global(.MuiInput-root) {
                border-bottom: 1px solid var(--text-primary-high-emphasis);
                color: var(--text-primary-high-emphasis);
            }
    
            & :global(.MuiInput-root) {
                border-bottom: 1px solid var(--text-primary-high-emphasis);
            }
    
            & :global(.MuiInput-root) {
                border-bottom: 1px solid var(--text-primary-high-emphasis);
            }
    
            & :global(.MuiInput-root)::after {
                border-bottom: none;
            }
    
            & :global(.MuiInputLabel-root){
                color: var(--text-primary-high-emphasis);
            }
    
            & :global(.MuiInputAdornment-root){
                color: var(--text-primary-high-emphasis);
            }
    
            .pagination {
                width: 100%;
                max-width: 470px;
                display: flex;
                justify-content: flex-end;
                margin-block-start: 10px;
                margin-block-end: 20px;
            }
        }
    
        .articleReader {
            width: 100%;
            margin-block-start: 53px;
        }
    }
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;


    .modalSearch{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding-inline-start: 20px;
    }

    .categoryList{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 200px;
        overflow: scroll;
    }

    .sourceList{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 200px;
        overflow: scroll;
    }

    .applyButton{
        margin-inline-end: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button{
            width: 80px;
            border-radius: 3px;
            background-color: var(--side-bar-button-color);
            border: none;
            height: 40px;
            color: #FFFFFF;
            margin-block-start: 5px;
    
            color: #FFF;
            font-size: 0.75rem;
            font-weight: 300;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}