.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .formContainer {
        width: 100%;
        max-width: 32.9375rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .registerText {
            display: flex;
            width: 100%;
            height: clamp(3.875rem, calc(3.14rem + 3.11vw), 5.9375rem);
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            h1 {
                color: var(--color-primary-black, #25282B);
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
                line-height: 131.25%;
                letter-spacing: 0.00625rem;
            }
        }

        .errorContainer {
            width: 100%;
            margin-inline: 2.5rem;
            min-height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-error);
            color: var(--color-background-and-disabled-background-buttons, #FAF9F7);
            margin-block: 1rem;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 2.5rem;
            margin-block-start: 3.94rem;

            label {
                width: 100%;
                position: relative;
                display: inline-block;
            }

            &>label:first-child {
                margin-block-end: 3.44rem;
            }

            input {
                color: var(--color-secondary-text, #52575C);
                border-bottom: 3px solid var(--secondary-text, #A0A4A8);
                width: 100%;
                padding-block-end: 0.63rem;
                padding-inline-start: 1.56rem;
            }

            input:focus {
                border-bottom: 3px solid var(--color-primary-dark);
            }

            span {
                color: var(--color-secondary-text, #52575C);
                font-size: 1rem;
                line-height: 112.5%;
                letter-spacing: 0.0125rem;
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.2s;
                transition-timing-function: ease;
                transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                opacity: 0.5;
                padding-inline-start: 1.56rem;
            }

            .errorSpan {
                color: var(--color-error) !important;
            }

            .errorInput {
                border-bottom: 3px solid var(--color-error) !important;
            }

            input:focus+span,
            input:not(:placeholder-shown)+span {
                color: var(--color-secondary-text, #52575C);
                opacity: 1;
                transform: scale(0.687) translateY(-2.81rem) translateX(-2.4rem);
                line-height: 127.273%;
                letter-spacing: 0.0125rem;
            }

            /* For IE Browsers*/
            input:focus+span,
            input:not(:-ms-input-placeholder)+span {
                color: var(--color-secondary-text, #52575C);
                opacity: 1;
                transform: scale(0.687) translateY(-2.81rem) translateX(-2.4rem);
                line-height: 127.273%;
                letter-spacing: 0.0125rem;
            }

            button {
                margin-block-start: 1.5rem;
                height: 3.625rem;
                cursor: pointer;
                width: 100%;
                background-color: var(--color-primary);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2.25rem;
                color: var(--color-background-and-disabled-background-buttons, #FAF9F7);
                text-align: center;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 128.571%;
                letter-spacing: 0.0125rem;

                &:hover {
                    background: var(--color-primary-dark);
                }
            }

            .disabledButton {
                background-color: var(--color-background-and-disabled-background-buttons, #FAF9F7);
                color: var(--color-disabled-text, #A0A4A8);
                cursor: not-allowed;

                &:hover {
                    background: unset;
                }
            }

            .nameField {
                width: 100%;
                display: flex;
                gap: 0.5rem;
                margin-block-start: 3.31rem;
            }

            .dateFields {
                width: 100%;
                display: flex;
                gap: 0.5rem;
                margin-block: 3.06rem;
            }

            select {
                width: 100%;
                border-bottom: 3px solid var(--color-inactive-states);
                padding-block-end: 0.62rem;
                padding-inline-start: 1.56rem;

                color: var(--color-inactive-states, #52575C);
                font-size: 1rem;
                line-height: 112.5%;
                letter-spacing: 0.0125rem;

                background-image: url("../../assets/dropdown.svg");
                background-size: 1.5rem;
                background-position: calc(100% - 1.5rem) calc(100% - 0.3rem);
                background-repeat: no-repeat;

                cursor: pointer;

                &:hover {
                    border-bottom: 3px solid var(--color-primary-dark);
                }
            }
        }

        .forgotPasswordOrUseAccount {
            margin-block: 1.81rem;
            width: 100%;
            padding-inline: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.94rem;

            p {
                color: var(--color-primary-black, #25282B);
                text-align: center;
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 128.571%;
                letter-spacing: 0.0125rem;
            }
        }

        .socialMediaButtons {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-inline: 2.5rem;
        }

        .socialMediaButton {
            height: 3.625rem;
            width: 100%;
            border-radius: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            color: var(--color-background-and-disabled-background-buttons, #FAF9F7);
            text-align: center;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 128.571%;
            letter-spacing: 0.0125rem;
            text-transform: uppercase;
            cursor: pointer;
        }

        .twitterButton {
            background: #4099FF;

            &:hover {
                background: #1DA1F2;
            }
        }

        .facebookButton {
            background: #3B5998;

            &:hover {
                background: #4267B2;
            }
        }

        .googleButton {
            background: var(--color-primary-black, #25282B);
            margin-block-end: 3.37rem;

            &:hover {
                background: #3E3E3E;
            }
        }
    }
}