:root{
    --color-primary : #14B86E;
    --color-primary-dark : #119C59;
    --color-sidebar : #119C59;
    --color-primary-black: #25282B;
    --color-secondary: #FFE3B3;
    --color-secondary-text : #52575C;
    --color-error : #F01445;
    --color-inactive-states : #A0A4A8;
    --color-default-text-in-field : #CACCCF;
    --color-divider-border-disabled : #94DD8B;
    --color-background-and-disabled-background-dark : #F4F3F1;
    --color-background-and-disabled-background-buttons : #FAF9F7;
}