.brandIcon {
    display: inline;
    color: var(--main-dark, #119C59);
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 700;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
}