.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block-start: 1.75rem;
    height: 100%;
    background: var(--color-background-and-disabled-background-dark, #F4F3F1);
    transition: transform 200ms ease;
    transform: translateX(-100%);
    overflow-y: auto;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--color-inactive-states);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--color-primary-dark);
    }

    @media screen and (max-width: 836px) {
        width: 40%;
        min-width: 250px;
        position: fixed;
        z-index: 100;
    }

    .brandlogo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-inline-start: clamp(0rem, 0.1rem + 1.5vw, 2.81rem);
    }

    .sidebarOptions {
        width: 100%;
    }

}

.sidebarOpen {
    transform: translateX(0);
}

.menuOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: 7.12rem;

    .menuOption {
        cursor: pointer;

        &:hover {
            background: var(--color-hover, #E5E5E5);
        }

        padding-inline-end: 2.19rem;

        .menuOptionItem {
            padding-inline-start: clamp(1rem, 0.8rem + 1vw, 2.81rem);
            max-width: 17.4375rem;
            height: 2.625rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline-end: 1rem;

            p {
                color: var(--main-dark, #119C59);
                font-size: 1rem;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 0.00625rem;
            }
        }
    }

    .logout{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-block-end: 2rem;
    }

    .menuOptionSubs {
        margin-block-end: 5rem;

        .subHeader {
            padding-inline-start: clamp(1rem, 0.8rem + 1vw, 2.81rem);
            max-width: 14.3125rem;
            height: 1.5rem;
            margin-block-start: 2.25rem;

            p {
                color: var(--main-dark, #119C59);
                font-size: 1rem;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 0.00625rem;
            }
        }

        .menuSubItem {
            width: 100%;
            cursor: pointer;
            height: 2.47669rem;
            display: flex;
            align-items: center;
            padding-inline-end: 2.94rem;

            &:hover {
                background: var(--color-hover, #E5E5E5);
            }

            .menuSubItemInner {
                color: var(--color-primary-black, #25282B);

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 17.625rem;
                padding-inline-start: clamp(1rem, 0.8rem + 1vw, 2.81rem);
                padding-inline-end: 0.56rem;
            }
        }
    }
}

.settingsOptions {
    width: 100%;

    .backIcon {
        display: flex;
        gap: 0.62rem;
        margin-block-start: 1.56rem;
        margin-block-end: 3.37rem;
        padding-inline-start: clamp(0rem, 0.1rem + 1.5vw, 2.81rem);
        cursor: pointer;
    }

    .settingsOption {
        width: 100%;

        .header {
            padding-inline-start: clamp(1rem, 0.8rem + 1vw, 2.81rem);
            max-width: 14.3125rem;
            height: 2.47669rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
                background: var(--color-hover, #E5E5E5);
            }

            h3 {
                color: var(--color-primary-dark, #119C59);
                font-size: 1rem;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.00625rem;
            }
        }

        .item {
            height: 2.47669rem;
            padding-inline-start: clamp(1rem, 0.8rem + 1vw, 2.81rem);
            max-width: 14.3125rem;
            margin-block-start: 0.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background: var(--color-hover, #E5E5E5);
            }

            p {
                color: var(--color-primary-black, #25282B);
                font-size: 1rem;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 0.00625rem;
            }
        }
    }
}

.active {
    max-width: 20.125rem;
    width: 100%;
    height: 2.625rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background: var(--color-secondary, #FFE3B3);
}