.header {
    display: flex;
    height: 5.25rem;
    width: 100%;
    justify-content: center;
    padding-inline-start: 1.81rem;

    .searchAndImage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 50.75rem;
        margin-inline-end: 2.06rem;

        .search {
            margin-block-start: 0.5rem;
            width: 100%;
            max-width: 27.875rem;
            margin-inline-end: 2rem;
        }

        .imgPlaceholder {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--color-primary, #119C59);
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            color: var(--color-primary-white, #FFFFFF);
            cursor: pointer;
        }

        .image {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.noSearch {
    justify-content: flex-end !important;
}