.container {
    display: flex;
    width: 100%;
    max-width: 504px;
    min-width: 400px;
    max-height: 500px;
    overflow: scroll;
    flex-direction: column;
    background-color: var(--article-card-background-color);
    border-radius: 7px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 1050px) {
        max-height: 700px;
        max-width: 600px;
    }

    .imageAndInfo {
        width: 100%;
        height: 100%;

        .imageContainer {
            padding: 24px 24px 15px 24px;
            .image {
                width: 100%;
                height: 100%;
                max-width: 456px;
                max-height: 254px;
                border-radius: 3px;

                @media screen and (max-width: 1050px) {
                    max-height: 258px;
                    max-width: 552px;
                }
            }
        }

        .info {
            margin: 0 25px 7px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .infoText {
                font-size: 0.875rem;
                color: var(--text-primary-super-low-emphasis);
            }
        }
    }

    .article {
        margin: 34px 65px;

        .title {
            margin: 0 36px 35px 36px;

            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-primary-low-emphasis);
            line-break: anywhere;
        }

        .content {

            font-size: 1rem;
            color: var(--text-primary-super-low-emphasis);
            overflow-y: scroll;
            overflow-x: hidden;
            line-break: anywhere;

            &::-webkit-scrollbar {
                width: 1px;
            }

            &::-webkit-scrollbar-track {
                background: var(--text-primary-super-low-emphasis);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--text-primary-low-emphasis);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--text-primary-high-emphasis);
            }
        }
    }
}