.container {
    width: 504px;
    height: 720px;
    display: flex;
    flex-direction: column;
    background-color: var(--article-card-background-color);
    border-radius: 7px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);

    .image {
        width: 456px;
        height: 254px;
        border-radius: 3px;
        margin: 24px 24px 15px 24px;
    }

    .info {
        margin: 0 25px 7px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .infoText {
            font-size: 0.875rem;
            color: var(--text-primary-super-low-emphasis);
        }
    }

    .article {
        margin: 34px 65px;
        height: 400px;

        .title {
            margin: 0 36px 35px 36px;
            width: 303px;
            height: 56px;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-primary-low-emphasis);
        }

        .content {
            width: 374px;
            height: 260px;
            font-size: 1rem;
            color: var(--text-primary-super-low-emphasis);
            overflow-y: scroll;
            overflow-x: hidden;
            line-break: anywhere;

            &::-webkit-scrollbar {
                width: 1px;
            }

            &::-webkit-scrollbar-track {
                background: var(--text-primary-super-low-emphasis);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--text-primary-low-emphasis);
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--text-primary-high-emphasis);
            }
        }
    }
}